<div>
   Selected: <span data-bind="text: selectedFeature"></span>
   <p>
   numberOfClicks: <span data-bind="text: numberOfClicks"></span>
</div>
<svg height="200" style="max-height: 100%; max-width: 100%" data-bind="foreach: features" viewbox="-5 -20 100 50">
   <path stroke="black" stroke-width="2px" stroke-linejoin="round" vector-effect="non-scaling-stroke" fill="none" pointer-events="all" data-bind="click: $root.selectFeature, attr: { d: d(), id: 'Feature-' + position() }" />
</svg>

<button data-bind="click: addFeature">Add Feature</button>
<div data-bind="foreach: features">
   <h3 data-bind="text: position"></h3>
   <label>Length</label>
   <input data-bind="value: length" placeholder="length">
   <label>Left Diameter</label>
   <input data-bind="value: leftDiameter" placeholder="leftDiameter">
   <label>Right Diameter</label>
   <input data-bind="value: rightDiameter" placeholder="rightDiameter">
</div>
